*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

html, body
{
    background: linear-gradient(180deg,rgba(29, 48, 221, 0.699)40%, rgba(253, 251, 251, 0.664)0%), url(img/aa.jpeg) ;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    z-index: 100;
    left: 0;
    top: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300px;
    font-size:20px;
    text-rendering: optimizeLegibility;
}

h1, h2, p{
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 10px;
}


#IPic, #SPic, #CPic{
    border-radius: 150%;
    margin-top: 50px;
    margin-left: 50px;
    height: 300px;
    width: 300px;
}

#GPic{
    border-radius: 150%;
    margin-top: 50px;
    margin-left: 50px;
    height: 300px;
    width: 300px;
}
