/*-----------------------------------------------------*/
                    /*BASIC SET UP*/
/*-----------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    html
    {
        background: linear-gradient(100deg,rgba(0,0,0, 0.7)10%, rgba(0,0,0, 0.7)0%), url(img/aa.jpeg) #CCC no-repeat right top;
        background-size:cover;
	    background-attachment: fixed;
        background-position: center;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        z-index: 100;
        font-family: 'Times New Roman','Arial', sans-serif;
        font-weight: 300px;
        font-size:20px;
        text-rendering: optimizeLegibility;
    }
    
    /*-----------------------------------------------------*/
                    /*REUSABLE COMPONENTS*/
    /*-----------------------------------------------------*/
   
    /*--------------HEADINGS--------------*/
    h1
    {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 150%;
        color: #fff;
        font-weight: 10%;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    /*--------------BUTTONS--------------*/
    .btn:link, 
    .btn:visited
        {
        display: inline-block;
        padding: 10px 30px;
        font-weight: 300;
        text-decoration: none;
        border-radius: 200px;
        color: #fff;
        transition: background-color 0.2s, border 0.2s, color 0.2s;
        }
    
        .btn-full:link,
        .btn-full:visited
        {
        background-color:rgb(70, 184, 70);
        border: 1px solid rgb(70, 184, 70);
        margin-right: 15px;
        }
    
        .btn-ghost:link,
        .btn-ghost:visited
        {
         border: 1px solid rgb(70, 184, 70);
       
        }
    
    .btn:hover, 
    .btn:active
       {
       background-color:rgb(163, 219, 163);
       }
       
    
       .btn-full:hover,
       .btn-full:active
       {
        background-color:rgb(163, 219, 163);
       
       }
       
       .btn-ghost:hover,
       .btn-ghost:active{
           border: 1px solid rgb(70, 184, 70);
          
       }
    
    
    
    /*-----------------------------------------------------*/
                            /*HEADER*/
    /*-----------------------------------------------------*/
    
    
    header
    {
     background-size: cover;
     background-position: center;
     width: 100%;
     height: 30vh;
     top: 0;
     left: 0;
    z-index: 100;
   
    }
    
    .hero-text
    {
        position: absolute;
        top: 40%;
        left:50%;
        transform: translate(-50%, -50%);
     }
     
    
#Pic{
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 150%;
    height: 300px;
    width: 300px;
    
    }
      
    
     .main-nav{
         float: right;
         list-style: none;
         margin-top: 60px;
     }
    
     .main-nav li{
         display: inline-block;
         margin-left: 40px;
         padding: 10px;

     }
    
     .main-nav li a:link, 
     .main-nav a:visited{
         padding: 8px 0;
         color: white;
         text-decoration: none;
         text-transform: uppercase;
         font-size: 90%;
         border-bottom: 2px solid transparent;
         transition: border-bottom 0.2s;
     }
    
     .main-nav li a:hover,
     .main-nav a:active{
        border-bottom: 2px solid rgb(70, 184, 70) ;
     }

   

     

    